{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <title>{% block page_title %}Pizzify{% endblock page_title %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body style="background: #FFEDE1">
    <header class="header">
        <div class="container">
            <div class="header_block">
                <a href="{% url 'index' %}" class="header_logo"><img src="{% static 'Image/Pizza.png' %}" alt="img"></a>
                    <nav class="header_menu" id="menu">
                        <ul>
                            <li class="header_item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="header_item"><a href="{% url 'menu' %}">Menu</a></li>
                            <li class="header_item"><a href="{% url 'menu' %}">Pricing</a></li>
                        </ul>
                    </nav>
                  <div class="header_right">
                  {% block header %}
                      {% if request.user.is_authenticated %}
                        <a href="{% url 'signout' %}" class="header_button">Sign out</a>
                      {% else %}
                          <a href="{% url 'signin' %}" class="header_button">Sign in</a>
                          <a href="{% url 'signup' %}" class="header_button">Sign up</a>
                      {% endif %}
                  {% endblock header %}
                  </div>

            </div>
        </div>
    </header>
    {% block body %}
    {% endblock body %}
    <div class="footer">
        <div class="container">
            <div class="footer_block">
                <a href="#"><img class="footer_img" src="{% static 'Image/facebook 1.png' %}" alt="img"></a>
                <a href="#"><img class="footer_img" src="{% static 'Image/insta.png' %}" alt="img"></a>
                <a href="#"><img class="footer_img" src="{% static 'Image/twitter 1.png' %}" alt="img"></a>
            </div>
            <div class="footer_text">
                <p>You can reach us at any of these platform</p>
            </div>
        </div>
    </div>
    <script src="{%  static 'js/script.js' %}"></script>
</body>
</html>