{% extends 'base.html' %}
{% load static %}
{% block header %}
    <a class="header_button">Total: $20</a>
{% endblock header %}
{% block body %}
      <div class="grid">
        <div class="container">
            {% for pizza in pizzas %}
                <div class="grid_block">
                <div class="grid_item">
                    <img src="{% static 'Image/grid.png' %}" alt="img">
                    <h3>Pizza Margarita</h3>
                    <p>Classic Italian pizza with tomato sauce, mozzarella cheese, and fresh basil.</p>
                    <div class="grid_counter">
                        <span class="grid_minus"><i class="fas fa-minus"></i></span>
                        <span class="grid_number">1</span>
                        <span class="grid_plus"><i class="fas fa-plus"></i></span>
                    </div>
                    <button id="add-to-cart" class = "grid_add-to-cart">Add</button>
                </div>
            </div>
            {% endblock pizza %}
        </div>
      </div>
{#    <div class="price">#}
{#      <div class="container">#}
{#          <div class="price_block">#}
{#              <h2>Your total is </h2>#}
{#              <div class="total">#}
{#                  Total: $0#}
{#              </div>#}
{#          </div>#}
{#      </div>#}
{#    </div>#}
{% endblock body %}